



.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.product-card img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.01);
}

/* TEXT STYLING */

